{
  "com.gempukku.libgdx.lib.artemis.camera.topdown.TopDownCameraComponent": {
    "name": "Main",
    "near": 2,
    "far": 50,
    "fieldOfView": 30,
    "focus": {
      "x": 0,
      "y": -0.2,
      "z": 0
    },
    "distance": 15,
    "rotation": 180,
    "angle": 70,
    "bounds": {
      "x": -5,
      "y": -5,
      "width": 10,
      "height": 10
    },
    "distanceRange": {
      "x": 8,
      "y": 25
    },
    "rotationRange": {
      "x": 5,
      "y": 85
    },
    "angleRange": {
      "x": 0,
      "y": 360
    }
  }
}