{
  "com.gempukku.libgdx.lib.artemis.transform.TransformComponent": {
    "localTransform": {
      "val": [
        1,
        0,
        0,
        0,
        0,
        1,
        0,
        0,
        0,
        0,
        1,
        0,
        0,
        0,
        0,
        1
      ]
    }
  },
  "com.gempukku.libgdx.graph.artemis.sprite.SpriteComponent": {
    "sprites": [
      {
        "spriteBatchName": "sprite",
        "properties": {
          "UV": {
            "class": "com.gempukku.libgdx.graph.artemis.sprite.property.SpriteUVProperty"
          },
          "Position": {
            "class": "com.gempukku.libgdx.graph.artemis.sprite.property.SpritePositionProperty",
            "transform": {
              "val": [
                1,
                0,
                0,
                0,
                0,
                1,
                0,
                0,
                0,
                0,
                1,
                0,
                0,
                0,
                -0.005,
                1
              ]
            },
            "rightVector": {
              "x": 8,
              "y": 0,
              "z": 0
            },
            "upVector": {
              "x": 0,
              "y": 4,
              "z": 0
            }
          },
          "Texture": {
            "class": "com.gempukku.libgdx.lib.artemis.texture.TextureReference",
            "atlas": "image/seamless_rock_face_texture_by_hhh316.jpg",
            "region": "image/seamless_rock_face_texture_by_hhh316.jpg"
          }
        }
      }
    ]
  },
  "com.gempukku.libgdx.graph.artemis.text.TextComponent": {
    "textBlocks": [
      {
        "transform": {
          "val": [
            1,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            1
          ]
        },
        "rightVector": {
          "x": 8,
          "y": 0,
          "z": 0
        },
        "upVector": {
          "x": 0,
          "y": 4,
          "z": 0
        },
        "width": 0.5,
        "edge": 0.05,
        "color": {
          "r": 1,
          "g": 1,
          "b": 1,
          "a": 1
        },
        "spriteBatchName": "sdfText",
        "targetWidth": 1000,
        "kerning": true,
        "scaleDownToFit": true,
        "verticalAlignment": "center",
        "horizontalAlignment": "left",
        "bitmapFontPath": "font/arial.fnt",
        "text": "Here is a test text in <width 0.55>bold</width>, or even a bit <scale 0.8>smaller</scale>, or <scale 1.2>bigger</scale>. You can also change <color ffff00ff>colors</color>.\nMixing <font font/arial-italic.fnt>fonts</font> is also possible.\nYou can even inline <img sprite image/MossyHill1.png:image/MossyHill1.png> sprites.\n<horAlign center>Or change horizontal alignment.</horAlign>\n<horAlign right>Like this.</horAlign>"
      }
    ]
  }
}