{
  "com.gempukku.libgdx.graph.artemis.sprite.SpriteBatchComponent": {
    "type": "TexturePaged",
    "name": "animatedSprite",
    "renderTag": "Animated",
    "minimumPages": 1,
    "staticBatch": false
  }
}