{
  "com.gempukku.libgdx.graph.artemis.sprite.SpriteBatchComponent": {
    "type": "TexturePaged",
    "name": "animatedOutlineSprite",
    "renderTag": "Animated Outline",
    "minimumPages": 1,
    "staticBatch": false
  }
}