{
  "com.gempukku.libgdx.graph.artemis.sprite.SpriteBatchComponent": {
    "type": "TexturePaged",
    "name": "backgroundSprite",
    "renderTag": "Background",
    "minimumPages": 1,
    "staticBatch": true
  }
}