{
  "com.gempukku.libgdx.graph.artemis.particle.ParticleBatchComponent": {
    "name": "dustParticles",
    "renderTag": "Dust",
    "particleBirthAttributes": [
      "Particle Birth"
    ],
    "particleDeathAttributes": [
      "Particle Death"
    ]
  }
}