{
  "com.gempukku.libgdx.lib.artemis.transform.TransformComponent": {
    "localTransform": {
      "val": [
        1,
        0,
        0,
        0,
        0,
        1,
        0,
        0,
        0,
        0,
        1,
        0,
        0,
        -150,
        -90,
        1
      ]
    }
  },
  "com.gempukku.libgdx.graph.artemis.sprite.SpriteComponent": {
    "spriteBatchName": [
      "backgroundSprite"
    ],
    "properties": {
      "UV": {
        "class": "com.gempukku.libgdx.graph.artemis.sprite.property.SpriteUVProperty"
      },
      "Position": {
        "class": "com.gempukku.libgdx.graph.artemis.sprite.property.SpritePositionProperty",
        "rightVector": {
          "x": 2261,
          "y": 0,
          "z": 0
        },
        "upVector": {
          "x": 0,
          "y": 777,
          "z": 0
        }
      },
      "Texture": {
        "class": "com.gempukku.libgdx.lib.artemis.texture.TextureReference",
        "atlas": "image/MossyHill2.png",
        "region": "image/MossyHill2.png"
      }
    }
  }
}
