{
  "com.gempukku.libgdx.graph.test.component.PlayerInputControlledComponent": {
    "currentState": "Idle",
    "currentlyFacingRight": true,
    "runVelocity": 5,
    "jumpVelocity": 14
  },
  "com.gempukku.libgdx.lib.artemis.input.UserInputComponent": {
    "keyState": {
      "Left": "left",
      "Right": "right"
    },
    "keySignal": {
      "Up": "jump"
    }
  },
  "com.gempukku.libgdx.lib.artemis.transform.TransformComponent": {
    "localTransform": {
      "val": [
        1,
        0,
        0,
        0,
        0,
        1,
        0,
        0,
        0,
        0,
        1,
        0,
        -270,
        -310,
        -10,
        1
      ]
    }
  },
  "com.gempukku.libgdx.graph.artemis.sprite.SpriteComponent": {
    "spriteBatchName": [
      "animatedSprite"
    ],
    "properties": {
      "UV": {
        "class": "com.gempukku.libgdx.graph.artemis.sprite.property.SpriteUVProperty"
      },
      "Position": {
        "class": "com.gempukku.libgdx.graph.artemis.sprite.property.SpritePositionProperty",
        "rightVector": {
          "x": 256,
          "y": 0,
          "z": 0
        },
        "upVector": {
          "x": 0,
          "y": 256,
          "z": 0
        }
      },
      "Animated Texture": {
        "class": "com.gempukku.libgdx.lib.artemis.texture.TextureReference",
        "atlas": "image/BlueWizardIdle.png",
        "region": "image/BlueWizardIdle.png"
      },
      "Sprite Count": {
        "class": "com.badlogic.gdx.math.Vector2",
        "x": 20,
        "y": 1
      },
      "Animation Speed": {
        "class": "java.lang.Float",
        "value": 20
      },
      "Animation Looping": {
        "class": "java.lang.Float",
        "value": 1
      }
    }
  },
  "com.gempukku.libgdx.graph.test.component.StateBasedSpriteComponent": {
    "stateProperties": {
      "Idle": {
        "Animated Texture": {
          "class": "com.gempukku.libgdx.lib.artemis.texture.TextureReference",
          "atlas": "image/BlueWizardIdle.png",
          "region": "image/BlueWizardIdle.png"
        },
        "Sprite Count": {
          "class": "com.badlogic.gdx.math.Vector2",
          "x": 20,
          "y": 1
        },
        "Animation Speed": {
          "class": "java.lang.Float",
          "value": 20
        },
        "Animation Looping": {
          "class": "java.lang.Float",
          "value": 1
        }
      },
      "Walk": {
        "Animated Texture": {
          "class": "com.gempukku.libgdx.lib.artemis.texture.TextureReference",
          "atlas": "image/BlueWizardWalk.png",
          "region": "image/BlueWizardWalk.png"
        },
        "Sprite Count": {
          "class": "com.badlogic.gdx.math.Vector2",
          "x": 5,
          "y": 4
        },
        "Animation Speed": {
          "class": "java.lang.Float",
          "value": 20
        },
        "Animation Looping": {
          "class": "java.lang.Float",
          "value": 1
        }
      },
      "Jump": {
        "Animated Texture": {
          "class": "com.gempukku.libgdx.lib.artemis.texture.TextureReference",
          "atlas": "image/BlueWizardJump.png",
          "region": "image/BlueWizardJump.png"
        },
        "Sprite Count": {
          "class": "com.badlogic.gdx.math.Vector2",
          "x": 8,
          "y": 1
        },
        "Animation Speed": {
          "class": "java.lang.Float",
          "value": 20
        },
        "Animation Looping": {
          "class": "java.lang.Float",
          "value": 0
        }
      }
    }
  },
  "com.gempukku.libgdx.box2d.artemis.PhysicsComponent": {
    "type": "Dynamic",
    "fixedRotation": true,
    "bullet": false,
    "category": [
      "Character"
    ],
    "mask": [
      "Environment"
    ],
    "shape": "box",
    "shapeData": {
      "width": 128,
      "height": 150
    },
    "sensors": [
      {
        "type": "foot",
        "category": "Sensor",
        "shape": "box",
        "shapeData": {
          "width": 64,
          "height": 12.8,
          "centerY": -78
        },
        "mask": [
          "Environment"
        ]
      }
    ]
  }
}