{
  "com.gempukku.libgdx.lib.artemis.transform.TransformComponent": {
    "localTransform": {
      "val": [
        1,
        0,
        0,
        0,
        0,
        1,
        0,
        0,
        0,
        0,
        1,
        0,
        2,
        0,
        0,
        1
      ]
    }
  },
  "com.gempukku.libgdx.graph.artemis.patchwork.PatchComponent": {
    "patchworkName": "patchwork",
    "generator": "cone",
    "generatorData": {
      "width": 2,
      "height": 2,
      "depth": 2,
      "divisions": 12,
      "positionProperty": "Position",
      "normalProperty": "Normal",
      "uvProperty": "UV"
    },
    "properties": {
      "Color": {
        "class": "com.badlogic.gdx.graphics.Color",
        "r": 1.0,
        "g": 0.3,
        "b": 0.3,
        "a": 1.0
      }
    }
  }
}