{
  "com.gempukku.libgdx.graph.artemis.lighting.DirectionalLightComponent": {
    "environmentName": "lighting",
    "direction": {
      "x": 0.3,
      "y": -0.2,
      "z": -0.4
    },
    "color": {
      "r": 1,
      "g": 1,
      "b": 1,
      "a": 1
    },
    "intensity": 1.2,
    "shadowEnabled": true
  }
}