{
  "com.gempukku.libgdx.graph.artemis.lighting.LightingEnvironmentComponent": {
    "id": "Lighting",
    "name": "lighting",
    "center": {
      "x": 0,
      "y": 0,
      "z": 0
    },
    "radius": 20,
    "ambientColor": {
      "r": 0.1,
      "g": 0.1,
      "b": 0.1,
      "a": 1.0
    }
  }
}