{
  "com.gempukku.libgdx.lib.artemis.transform.TransformComponent": {},
  "com.gempukku.libgdx.graph.artemis.patchwork.PatchComponent": {
    "patchworkName": [
      "patchwork"
    ],
    "generator": "sphere",
    "generatorData": {
      "width": 2,
      "height": 2,
      "depth": 2,
      "divisionsU": 12,
      "divisionsV": 12,
      "positionProperty": "Position",
      "normalProperty": "Normal",
      "uvProperty": "UV"
    },
    "properties": {
      "Color": {
        "class": "com.badlogic.gdx.graphics.Color",
        "r": 0.3,
        "g": 0.3,
        "b": 1.0,
        "a": 1.0
      }
    }
  }
}