{
  "com.gempukku.libgdx.lib.artemis.transform.TransformComponent": {
    "localTransform": {
      "val": [
        1,
        0,
        0,
        0,
        0,
        1,
        0,
        0,
        0,
        0,
        1,
        0,
        96,
        120,
        0,
        1
      ]
    }
  },
  "com.gempukku.libgdx.graph.artemis.sprite.SpriteComponent": {
    "sprites": [
      {
        "spriteBatchName": "screenMaskedSprite",
        "properties": {
          "UV": {
            "class": "com.gempukku.libgdx.graph.artemis.sprite.property.SpriteUVProperty"
          },
          "Position": {
            "class": "com.gempukku.libgdx.graph.artemis.sprite.property.SpritePositionProperty",
            "transform": {
              "val": [
                1,
                0,
                0,
                0,
                0,
                1,
                0,
                0,
                0,
                0,
                1,
                0,
                0,
                0,
                0,
                1
              ]
            },
            "rightVector": {
              "x": 384,
              "y": 0,
              "z": 0
            },
            "upVector": {
              "x": 0,
              "y": 384,
              "z": 0
            }
          },
          "Animated Texture": {
            "class": "com.gempukku.libgdx.lib.artemis.texture.TextureReference",
            "atlas": "image/BlueWizardIdle.png",
            "region": "image/BlueWizardIdle.png"
          },
          "Sprite Count": {
            "class": "com.badlogic.gdx.math.Vector2",
            "x": 20,
            "y": 1
          },
          "Animation Speed": {
            "class": "java.lang.Float",
            "value": 20
          },
          "Animation Looping": {
            "class": "java.lang.Float",
            "value": 1
          }
        }
      }
    ]
  }
}