{
  "com.gempukku.libgdx.graph.artemis.sprite.SpriteBatchComponent": {
    "type": "TexturePaged",
    "name": "tiledSprite",
    "renderTag": "Tiled",
    "minimumPages": 1,
    "staticBatch": true
  }
}